.rank-item {
	display: flex;
	align-items: center;
	padding: 8px 12px;
    background-color: #0d0d0d;
    border-radius: 4px;
}
.top-player{
    background-color: rgb(184, 184, 0);
}
.no-data {
	padding: 12px;
	text-align: center;
}
.rank-number {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 28px;
	height: 28px;
	border-radius: 50%;
	background: #f0f0f0;
	color: #333;
	font-weight: 600;
	margin-right: 8px;
}

/* tabs.component.css */
.tabs {
  display: flex;
  gap: 1.5rem;
  font-size: 1rem;
}

.tab {
  cursor: pointer;
  position: relative;
  font-weight: 100;
}

.tab.active {
  color: #ff3366;
}

.tab.active::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  height: 2px;
  width: 100%;
  background: #ff3366;
}

.tab-content {
  margin-top: 2rem;
}

.item {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}

.item img {
  width: 45px;
  height: 45px;
  border-radius: 10%;
  margin-right: 0.8rem;
}

.coins {
  margin-left: auto;
  color: #ccc;
}
.user-name{
    font-weight: 100;
}
.gray {
  color: gray;
}
.no-data {
  text-align: center;
  padding: 1rem;
}
.green-tick {
          color: #21B76E;

}